html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
}

header {
  color: #a0a0a0;
  font-size: 13px;
  text-align: center;
}

.banner {
  font-size: 12px;
  color: #3d63ff;
}

h2 {
  text-align: center;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

.simulcasts div h4 {
  font-weight: bold;
}
.simulcasts div .time-zone {
  font-size: 12px;
  color: gray;
  font-style: italic;
}
.simulcasts div .episodes {
  font-size: 12px;
}
.simulcasts div .fas {
  color: orange;
}

header {
  width: 96%;
}
header .header-content {
  width: 100%;
  max-width: 960px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: auto;
}
header .menu-icon {
  display: none;
}

main {
  width: 96%;
  max-width: 960px;
  margin: 20px auto;
}
main .main-page-layout {
  display: flex;
}
main .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.right {
  width: 32%;
  margin: 20px 2%;
}
.right h4 {
  padding-bottom: 20px;
}

.left {
  width: 60%;
  margin: 20px 0;
  padding: 0 2%;
}
.left .simulcasts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left .simulcasts div {
  width: 49%;
}
.left .simulcasts img {
  width: 140px;
  margin-top: 3px;
  margin-bottom: 15px;
}
.left .simulcasts .episodes {
  margin-top: 3px;
  float: right;
}
.left h2 {
  padding: 15px 0px;
}

.logo img {
  height: 25px;
}

.games img {
  height: 60px;
  width: 100%;
  overflow-x: hidden;
}

.menu img {
  height: 25px;
}

.carousel img {
  width: 95%;
  height: auto;
}

.games {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.banner {
  background-color: #b9edf7;
  border: 1px solid blue;
  margin: 9px;
  border-radius: 5px;
}

header {
  background-color: white;
  box-shadow: 0px 5px 10px lightgray;
  padding: 0 2%;
}
header .login {
  margin-left: auto;
}
header div {
  margin-right: 1%;
}

body {
  background-color: #f2f2f2;
}

main {
  background-color: white;
  box-shadow: 0px 5px 10px lightgray;
  padding-top: 1px;
}

.left {
  border-right: 1px solid gray;
}
.left h3 {
  margin: 30px 0px;
  border-bottom: 1px solid gray;
}
.left h2 {
  background-image: linear-gradient(white, lightgray);
  border: 1px solid lightgray;
  border-radius: 5px;
}

/*# sourceMappingURL=output.css.map */
