main{
  width: 96%;
  max-width: 960px;
  margin: 20px auto;

  .main-page-layout{
    display: flex;
  }

  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
  }
}
