.left{
  h3{
    margin-top: 30px;
    border-bottom: 1px solid gray;
  }
  h2{
    background-image: linear-gradient(white, lightgray);
    border: 1px solid lightgray;
    border-radius: 5px;
  }
}
