.left{
  border-right: 1px solid gray;

  h3{
    margin: 30px 0px;
    border-bottom: 1px solid gray;
  }
  h2{
    background-image: linear-gradient(white, lightgray);
    border: 1px solid lightgray;
    border-radius: 5px;
  }
}
