body{
  font-family: sans-serif;
}

header{
  color: darken(lightgray, 20);
  font-size: 13px;
  text-align: center;
}

.banner{
  font-size: 12px;
  color: #3d63ff;
}

h2{
  text-align: center;
  font-weight: bold;
}

h3{
  font-weight: bold;
  font-size: 20px;
}

.simulcasts div{
  h4{
    font-weight: bold;
  }
  .time-zone{
    @include secondary;
  }
  .episodes{
    font-size: 12px;
  }
  .fas{
    color: orange;
  }
}

.right{
  font-size: 13px;
}
.featured{
  font-weight: bold;

  .videos{
    @include secondary;
  }
}
.lineup{
  text-align: center;

  p span{
    color: orange;
  }
}
.forum{
  h3{
    font-size: 16px;
  }
  h6{
    font-style: italic;
  }
}
